<!DOCTYPE html>
<html>
  {% include head-home.html %}
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        i = 0;
        $('.menuAc').click(function(){

          $(this).next('.menuMobil').animate({width:'toggle'},350);
          if (i%2==0) {
            $('.baslik').css({
              'filter'         : 'blur(5px)'
            });
            $('.orta').css({
              'filter'         : 'blur(5px)'
            });
            $('.social-links').css({
              'filter'         : 'blur(5px)'
            });
            $('ul.menu').css({
              'animation-duration': '0.1s'
            });
            $(this).css({
              'color': 'rgba(52, 152, 219, 1)'
            });
            i++;
          }
          else {
            $('.baslik').css({
               'filter'         : 'blur(0px)'
            });
            $('.orta').css({
               'filter'         : 'blur(0px)'
            });
            $('.social-links').css({
               'filter'         : 'blur(0px)'
            });
            $(this).css({
              'color': '#ecf0f1'
            });
            i++;
          }

        });
      });
    </script>
    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="baslik">
      {{ site.title }}
    </div>
    <div class="orta">
      <div class="ortala">
        <div class="resim">
          <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
        </div>
        <div class="pc">
          {% include nav-home.html %}
        </div>
        <div class="aciklamalar">
          {{ site.description }}
        </div>
      </div>
    </div>
    <!-- Including project submission information -->
    <div class="orta">
      <div class="ortala">
        <div class="aciklamalar">
          <h3> EUYSRA Research Proposal Form 2018 </h3> 
          <p>
            Please find the EUYSRA research proposal for the autumn 2018 funding round
            <a href="assets/doc/Project-Proposal-form-2018.docx" download="Project-Proposal-form-2018.docx"> here </a>.
 
            All EUYSRA projects need to send in the form as soon as possible since funding will 
            be taking place on a first-come first-served basis. The final deadline is the 31st of October.
            If you are looking for a project idea you may contact one of already existing project groups by fillint the form 
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfMTzswV6y7CWHvOrOg9Vevm7DKMRRFtVY4tdoKSUVAMixARA/viewform?usp=sf_link"> here </a>    
          </p>
        </div>
      </div>
    </div>
    <!-- {% include social-links.html %} -->
  </body>
</html>
